@import "../../abstracts/mixins/_mixins.scss";


.about-me {
    background-color: #f9f9f9;
}

.profile {
    display: inline-grid;
    grid-column: 1/13;
    justify-items: center;
    align-items: center;

    @include breakpoint(lg) {
        grid-column: 1 / 7;
    }
}

.profile-image {
    display: inline-grid;
    grid-column: 1/13;
    justify-items: center;
    align-items: center;

    img {
        border-radius: 50%;
        margin-top: $margin-medium;
        margin-bottom: $margin-medium;
    }

    @include breakpoint(lg) {
        grid-column: 8/13;
    }
}