.cta {
    background-color: #DCD2C8;
}

.call-to-action {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 1rem;

    h1,h2 {
        text-align: center;
    }
}

.cta__socials {
    padding-top: 38px;
}

.cta__socials-icon {
    margin: 0 24px;
}